<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">การเดินทางไปต่างประเทศ</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/users">หน้าหลัก</a></li>
          <li class="breadcrumb-item active">ตรวจสอบการเดินทางไปต่างประเทศ</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">ข้อตกลงในการใช้งาน!</h4>
      <p>
        กระทรวง​สาธารณสุข​อนุญาต​ให้ใช้งานระบบนี้เฉพาะผู้ป่วยที่แสดงอาการสงสัยโรค COVID-19
        และสงสัยว่าจะมีการปกปิดข้อมูล​การเดินทาง​กลับจากประเทศ​กลุ่ม​เสี่ยงเพื่อป้องกันความเสี่ยงการสัมผัสโรคของบุคลากร​ทางการแพทย์

        <br>
        <strong><u>**ไม่อนุญาต​**</u></strong> ให้​ใช้งานเป็นการทั่วไป หรือการตรวจสอบข้อมูลของผู้ที่ยังไม่แสดงอาการ
        หรือผู้ที่แจ้งข้อมูลการกลับจากประเทศกลุ่มเสี่ยงแล้ว

        ทั้งนี้ เพื่อป้องกันการถูกตีตรา (Stigma)​
        <br> <br>
        สำหรับโรงพยาบาล สถานพยาบาลอื่นๆ ทั้งรัฐและเอกชน (เฉพาะประเภทที่มีบริการผู้ป่วยใน) สามารถสมัครเข้าใช้บริการได้
        <a href="https://sl.moph.go.th/zJoS5Vf">ที่นี่</a>
        <br>
        <strong><u>!!หากละเมิด!!</u></strong> และเกิดความเสียหาย ท่านต้องรับผิดตามกฎหมาย
      </p>
      <hr>
      <p class="mb-0">
        ให้บริการข้อมูลโดย ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร สำนักงานปลัดกระทรวงสาธารณสุข
      </p>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div>
              <div class="input-group">
                <input type="text" [(ngModel)]="query" name="query" placeholder="ระบุคำค้นหา..." class="form-control">
                <span class="input-group-append">
                  <button type="button" class="btn btn-danger" [disabled]="!query"
                    (click)="searchByCid()">เลขบัตรประชาชน</button>
                </span>
                <span class="input-group-append">
                  <button type="button" class="btn btn-info" [disabled]="!query"
                    (click)="searchByDocumentNo()">หนังสือเดินทาง</button>
                </span>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- /.col-md-6 -->
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">ผลการค้นหา</h3>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>CITIZENID</th>
                  <th>GIVENNAME</th>
                  <th>SURNAME</th>
                  <th>SEX</th>
                  <th>COUNTRY</th>
                  <th>NATION</th>
                  <th>DEPARTMENT</th>
                  <th>TRANS_DATE</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="results.length === 0">
                  <td colspan="9"><span class="text-muted text-center">ไม่พบรายการ</span></td>
                </tr>
                <tr *ngFor="let item of results">
                  <td>{{item.CITIZENID}}</td>
                  <td>{{item.GIVENNAME}}</td>
                  <td>{{item.SURNAME}}</td>
                  <td>{{item.SEX}}</td>
                  <td>{{item.COUNTRY}}</td>
                  <td>{{item.NATION}}</td>
                  <td>{{item.DEPARTMENT}}</td>
                  <td>{{item.TRAN_DATE}}</td>
                  <td>
                    <button class="btn btn-info" (click)="openInfo(item)"><span
                        class="fa fas fa-search"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

<ngx-loading [show]="loading" [config]="{ 
      backdropBorderRadius: '3px' ,
      primaryColour: '#3b7ddd', 
      secondaryColour: '#3b7ddd', 
      tertiaryColour: '#3b7ddd'
    }">
</ngx-loading>

<app-modal-transit-info #mdlInfo></app-modal-transit-info>
