<body class="hold-transition login-page">


  <div class="login-box">

    <div class="login-logo">
      <a href="#/"><b>SmartHealth</b> @R7</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">

      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="../../index3.html" method="post">
          <div class="input-group mb-3">
            <input type="email" name="username" [(ngModel)]="username" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div>
            <button type="button" (click)="doLogin()" [disabled]="!username || !password || loading"
              class="btn btn-primary btn-block">Sign
              In</button>
          </div>
        </form>
        <p class="mb-1">
          <a href="http://ictportal.moph.go.th/password/reset">ลืมรหัสผ่าน</a>
        </p>
        <p class="mb-0">
          <a href="http://ictportal.moph.go.th/register" class="text-center">ลงทะเบียน</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="{ 
    backdropBorderRadius: '3px' ,
    primaryColour: '#3b7ddd', 
    secondaryColour: '#3b7ddd', 
    tertiaryColour: '#3b7ddd'
  }">
  </ngx-loading>


</body>
